apiVersion: portal.mycourse1.com/v1
kind: MyPortal
metadata:
  name: "{{ item.mytenantname }}"  # Accessing mytenantname from the current loop item
  namespace: "{{ item.namespace }}"
spec:
  myportals:
    {% for portal in item.portals %}  # Looping through portals in the current tenant item
    - 
      name: "{{ portal.name }}"
      replicacount: {{ portal.replicacount }}
    {% endfor %}
  mytenantname: "{{ item.mytenantname }}"  # Again accessing myt