---
- name: Deploy NestJS application
  hosts: localhost
  become: yes
  vars:
    mytenants:
      - namespace: portal1
        portals:
          - name: nestjs-auth
            replicacount: 1
  tasks:
    - name: Debug variables
      debug:
        var: mytenants

    - name: Render mytenants YAML
      template:
        src: mytenants.j2
        dest: "/tmp/mytenants.yaml"
        vars:
          tenant: "{{ item }}"
      loop: "{{ mytenants | from_yaml }}"

    

